
body{
	font-family: Arial, sans-serif;
}

#page-container{
	margin: 0 auto;
	padding: 10px;
	width: 420px;
	height: 540px;
	background: #EEEEEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

header{
	font-size: 1.2em;
}

article{
	overflow: hidden;
	margin-top: 30px;
	height: 120px;
	background: white;
	font-size: 0.8em;
}

	article p span{
		font-weight: bold;
	}

img{
	margin: 10px;
	width: 140px;
	height: 90px;
	float: left;
	background: url("../images/cat.jpg");
	background-size: 100%;
}

p{
	display: table;
	margin-right: 10px;
}

button{
	height: 22px;
	margin-top: 15px; 	
	float: right;
	background: url("../images/button.png");
	border: 2px outset #8A0000;
	color:white;
}

	button:hover{
		cursor: pointer;
	}

	.right-button{
		margin-right: 10px;
		width: 60px;
		padding-left: 15px;
	}

	.left-button{
		margin-right: 3px;
		width: 75px;
		padding-left: 15px;
	}

article,img{
	border:1px solid gray;
}