ul{
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin-left: 10px;
	color:gray;
	display: none;
}

ul:hover{
	cursor: pointer;
	text-decoration: underline;
}

ul:hover > li {
	display: table;	
}
